.about {
    padding: 2vw 12vw;
    
    
    
    &__text {

        &__creditis {
            margin-top: 40px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            gap: 100px;

            @media (max-width: 768px) {
                width: 100%;
                display: inline;
                text-align: center;
                
            }

            &__header {
                margin: 10px;
            }
        }
        
    }

}
