@use 'variaveis';

.hero {
    
    &__content {

        &__video {
            padding: 1vw 23.5vw;
            margin-top: -150px;

            &__trailer {
                width: 100%;
                height: 563px;
                border-radius: 6px;
            }
        }
    }

}

img { 
    width: 100%;

}