.trailer {
    padding: 2vw 12vw;

    &__video {
        display: flex;
            justify-content: center;
        gap: 30px;
        border: none;
        
        @media (max-width: 768px) {
            width: 100%;
            display: inline;
            text-align: center;
        }
        iframe {
            max-width: 100%;

            @media (max-width: 768px) {
                height: 150px;
                margin-bottom: 30px;
            }
        }

        }
    }
