.trailer {
    padding: 1vw 23.5vw;

    &__video {
        display: flex;
        justify-content: space-between;

        gap: 30px;
        border: none;

        iframe {

            max-width: 100%;

        }
    }
}