@use 'variaveis';
@use 'hero';
@use 'about';
@use 'cast';
@use 'trailer';
@use 'footer';
@use 'header';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
}

body {
    background-color: variaveis.$colorDeFundo;
}

@mixin text($fontSize: 32px) {
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 44px) {
    font-size: $fontSize;
    color: variaveis.$corTitulos;
}

.title--big {
    @include title;
}

.text--big {
    @include text;
}

.text{
    @include text(22px);
} 

.text--small {
    @include text(16);
}